*
  margin: 0
  box-sizing: border-box

html,
body
  height: 100%
  position: relative
  background: #F5F5F5
  
body
  &.no-scroll
    overflow: hidden

    &::after
      position: absolute
      content: ''
      width: 100%
      height: 100%
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: rgba($bc, .3)
      z-index: 99

.wrapper
  display: flex
  flex-direction: column
  min-height: 100%

  .content
    flex: 1 0 auto
    // max-width: rem(1160px)
    width: 100%
    background: $wc
    margin: auto
    padding: 0 rem(10)

    @include sm
      padding: 0

.container
  width: 100%
  margin-right: auto
  margin-left: auto
  max-width: rem(1600px)
  position: relative
  box-sizing: border-box

  @include lg
    max-width: 100%

.container
  padding-right: rem(15px)
  padding-left: rem(15px)

ul
  padding: 0
  li
    list-style: none

.line-separate
  width: 100%
  height: rem(1)
  background: $lgc

img
  // width: 100%  
.form
  max-width: rem(920)
  width: 100%
  margin: auto
  margin-bottom: rem(150)

.logo
  max-width: rem(107)
  min-width: rem(107)

  @include md
    max-width: rem(70)
    min-width: rem(70)
    width: 100%

    @include xs
      margin-right: rem(10) !important

  img
    width: 100%


p
  @include lg
    font-size: rem(15)  
  
  @include xs  
    font-size: rem(14)  


.close-btn-js
  width: rem(25)
  height: rem(25)
  @include aic-jcc
  border-radius: 100%
  border: rem(1) solid $mc      
  cursor: pointer
