.pride
  margin-bottom: rem(110)
     
  &__wrap
    margin-left: rem(-10)
    margin-right: rem(-10)

  .swiper 
    .swiper-pagination
      position: relative
      bottom: auto
      margin-top: rem(30)
      
      span
        background: $mc

