.social
  ul
    li
      margin-right: rem(12)
      overflow: hidden

      &:last-child
        margin-right: 0

      a
        position: relative
        background: $wc
        border-radius: rem(6)
        width: rem(20)
        height: rem(20)
        @include aic-jcc

        span
          position: absolute
          opacity: 0
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)