.structure
  padding-bottom: rem(160)

  &__item-img
    max-width: rem(300)
    min-width: rem(300)
    width: 100%
    height: rem(300)
    margin: auto
    
  &__wrap
    margin-left: rem(-25)
    margin-right: rem(-25)
    margin-bottom: rem(160)

    .structure__item
      padding: rem(25)
      width: 33.33%