.title
  padding-bottom: rem(10)
  border-bottom: rem(1) solid $lgc

  &_h2
    color: $mc
    font-size: rem(30)
    font-weight: 700
    line-height: rem(33)

  &_border-none  
    border: none
    padding-bottom: 0
    font-weight: 500