.breadcrumbs.mb-40
  .container
    .breadcrumbs__wrap.bg-lgray
      ul
        each item in [1,2,3,4]
          li
            a(href="#").fz-13.text-dark.h-text-accent.text-decoration-none breadcrumbs