footer.footer
  .container 
    .footer__wrap.d-flex.justify-between
      .footer__col.d-flex.align-start
        .mr-25
          a(href='#').logo.d-flex.align-center.justify-center
            img(src='images/dist/logo-footer.svg' alt='')
        div
          .fz-18.text-uppercase.text-white.fw-600
            p ЧАТКАЛ ЗОЛОТАЯ ДОЛИНА   

          ul 
            li.fz-15.text-white.mb-10.d-flex.align-center.mt-10
              .icon.icon_fill-white.mr-5
                svg(width="20" height="20")
                  use(xlink:href='#marker')
              p Каныш-Кыя айылы, Ташбай Айдаров көч. 17    
            li.mt-10 
              a(href="tel:+9963749300643-01-22").fz-15.text-white.text-decoration-none.d-flex.align-center.h-undrln
                .icon.icon_fill-white.mr-5
                  svg(width="20" height="20")
                    use(xlink:href='#phone') 
                p Коомдук кабылдама: +996 (3749) 3-00-64, 3-01-22   


      .footer__col
        .fz-15.text-white.mb-15
          p Сайт разработан:
        a(href="#")
          .icon 
            svg(width='49' height='56' viewBox='0 0 49 56' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0 55.7323C0.885281 54.2423 2.126 53.0422 3.57268 52.0247C5.898 50.3931 8.18844 48.7346 10.5486 47.1691C13.1746 45.4366 15.8719 43.7907 18.5211 42.096C20.2336 41.0046 21.9211 39.8911 23.6335 38.7886C25.7163 37.4624 27.8191 36.1615 29.8986 34.8306C30.3288 34.5566 30.6825 34.177 31.1044 33.8856C33.6407 32.139 36.1869 30.4065 38.7265 28.6646C39.0703 28.4299 39.3909 28.1637 39.723 27.9117L39.6184 27.7149C39.4025 27.7495 39.189 27.7963 38.9789 27.855C35.5142 29.0315 32.003 30.0395 28.3008 30.2348C26.409 30.3341 24.6716 29.9372 23.2847 28.6094C22.8861 28.2283 22.6071 28.2582 22.3396 28.748C21.3331 30.5829 20.3017 32.4036 19.3018 34.2416C19.1689 34.4841 19.2187 34.8133 19.0992 35.0653C18.919 35.3893 18.7159 35.7013 18.4912 35.9993C18.1956 35.7252 17.7073 35.4827 17.6508 35.1708C17.5675 34.6594 17.6479 34.136 17.8817 33.6683C19.1241 31.3294 20.4329 29.0221 21.7185 26.7037C21.8301 26.5535 21.919 26.3891 21.9825 26.2155C22.2333 24.9996 22.4642 23.7805 22.6818 22.6639C22.127 23.1521 21.461 23.7144 20.8249 24.3066C18.2122 26.7431 15.3438 28.8646 12.0883 30.4648C9.70155 31.6397 7.17526 32.1973 4.49118 31.3924C2.40338 30.7624 1.23906 28.7811 1.38024 26.7147C1.40349 26.3493 1.39519 25.965 1.51976 25.628C1.7689 24.9586 1.89679 24.4389 1.15435 23.8813C0.509909 23.3978 0.687629 22.9017 1.43173 22.5505C1.69914 22.4229 1.9732 22.3064 2.28711 22.1662L2.77045 22.7584C4.36827 20.3392 6.31157 18.309 8.70499 16.7104C11.0984 15.1118 13.5749 13.7573 16.7157 14.0503C16.4466 14.2078 16.1825 14.3653 15.9068 14.4992C12.663 16.1182 9.28133 17.5452 6.83145 20.2825C6.12887 21.07 5.44622 21.8717 4.75361 22.667L4.95791 22.9946C5.87308 22.793 6.81484 22.667 7.6968 22.3741C11.2047 21.207 14.6196 19.8368 17.4482 17.4712C18.1591 16.8774 18.7387 16.1072 19.2453 15.3386C19.5775 14.8425 19.8349 14.181 18.8849 13.7321C20.4395 13.8046 20.687 14.7779 20.4379 15.7654C20.2386 16.5529 19.6772 17.3278 19.0875 17.9468C17.4897 19.6273 15.4036 20.692 13.3274 21.7425C11.0303 22.9033 8.67675 23.9286 6.10894 24.4609C5.52032 24.5965 4.91989 24.6808 4.31512 24.7129C3.77698 24.7303 3.4996 24.9555 3.35344 25.4044C3.32852 25.4784 3.30527 25.554 3.28036 25.6296C2.03963 29.2646 4.29021 30.3293 7.32641 30.197C9.94405 30.0821 12.1847 28.8914 14.3206 27.5511C17.6824 25.4406 20.6455 22.8844 23.3611 20.0778C24.7762 18.6146 26.0917 17.0569 27.3839 15.493C29.459 12.974 31.5014 10.4346 33.5111 7.87477C35.3382 5.54537 37.0954 3.16872 38.8826 0.812542C38.9956 0.664493 39.0637 0.440845 39.2148 0.369971C39.5719 0.212472 40.0702 -0.0914996 40.3193 0.0266243C40.8276 0.269172 40.9372 0.796792 40.5967 1.31339C39.2148 3.40339 37.8694 5.5123 36.4493 7.5771C34.9296 9.79783 33.3533 11.9871 31.7987 14.192C31.7075 14.3654 31.6271 14.5437 31.5579 14.726C32.2438 14.411 32.7205 14.129 33.247 13.9385C37.2001 12.521 41.1498 11.1035 45.1261 9.76475C45.7722 9.54583 46.5478 9.6671 47.2621 9.63245L47.3567 10.0057C46.9332 10.1884 46.5263 10.4451 46.0844 10.5428C43.2061 11.1741 40.414 12.1174 37.7631 13.3541C35.9594 14.1952 34.0991 14.9528 32.38 15.9308C30.2557 17.1404 28.2675 18.4933 27.1331 20.7723C26.2561 22.5332 25.0221 24.1318 23.9524 25.8123C23.4259 26.6344 23.6717 27.5022 24.5653 28.0251C25.9472 28.8362 27.4753 28.9701 29.0399 28.8378C32.8634 28.5071 36.4842 27.4046 40.0287 26.0548C42.6098 25.0689 45.2108 24.1223 47.5727 22.6875C48.0444 22.4024 48.5958 22.3237 48.9014 22.9395C49.207 23.5553 48.7486 23.7679 48.2586 24.064C46.611 25.0594 44.9927 26.0958 43.4037 27.1731C41.6182 28.3811 39.9074 29.693 38.1136 30.8821C34.8017 33.0871 31.4466 35.2401 28.1247 37.4325C26.3409 38.609 24.6052 39.8501 22.8097 41.014C20.2618 42.6725 17.6608 44.2522 15.1245 45.9327C11.9206 48.0605 8.75482 50.2419 5.58906 52.4264C4.21214 53.3714 2.89004 54.3982 1.5181 55.3527C1.11947 55.6299 0.631157 55.7874 0.189347 56L0 55.7323Z' fill='white')
 
      .footer__col
        .fz-15.text-white.mb-15
          p Следите за нами в соцсетях:

        .social 
          ul.d-flex.align-center
            mixin social(name,nameRu)
              li
                a(href="#")
                  span Сылка социальной сети
                    =nameRu
                  .icon  
                    svg(width="20" height="20")
                      use(xlink:href='#'+name)  
            +social('facebook','фейсбук')
            +social('instagram','инстаграм')
            +social('twitter','твиттер')
            +social('youtube','юютююб')

  .footer__bottom.pt-15.pb-15
    .container
      p.text-white.fz-15 © 2023 ЧАТКАЛ ЗОЛОТАЯ ДОЛИНА. Все права защищены
























