.hero
  .container 
    .hero__media-wrap.pos-r
      video.hero__media.object-fit-cover(autoplay='' loop='' muted='')
        source(src='images/dist/hero.mp4' type='video/mp4')
      //- img.object-fit-cover(src="images/dist/pride.webp", alt="")
  include ../includes/block-link