extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | Вопросы и ответы
block main
  .wrapper
    include includes/search
    .content
      
      include includes/svg-sprite
      include includes/header
      include includes/breadcrumbs

      
      .container 
        .title.title_h2.title_border-none.mb-15
          p Вопросы и ответы
        p.lh-22.mb-40 Государственным агентством по делам государственной службы и местного самоуправления при Кабинете Министров Кыргызской Республики утвержден Перечень нормативных правовых актов, используемых при формировании тестовых заданий (на знание общего законодательства) для кандидатов на главные, старшие и младшие административные должности государственной гражданской службы и муниципальной службы для включения в резерв кадров государственной гражданской службы и муниципальной службы в государственных органах и органах местного самоуправления Кыргызской Республики.
        p.lh-22.mb-40 Данный перечень является обязательным при прохождении компьютерного тестирования на знание общего законодательства.
          |  Таким образом, при проведении компьютерного тестирования на знание общего законодательства, будут включены тестовые вопросы из указанных перечней НПА для соответствующих групп должностей.
                    
        .accordion
          each item,index in [1,2,3] 
            .accordion__item
              .accordion__title.d-flex.align-center.justify-between.cursor-pointer.p-15.accordion-js
                p.text-accent.lh-22 Вопрос №
                  =(index + 1)
                .icon.transition.ml-30
                  svg(width="30" height="30")
                    use(xlink:href='#angle')
              .accordion__text
                p.fz-14.text-dark Данный перечень является обязательным при прохождении компьютерного тестирования на знание общего законодательства. Таким образом, при проведении компьютерного тестирования на знание общего законодательства, будут включены тестовые вопросы из указанных перечней НПА для соответствующих групп должностей.
           
            
    include includes/footer


  include includes/scripts
