extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | История
block main
  .wrapper
    include includes/search
    .content
      
      include includes/svg-sprite
      include includes/header
      include includes/breadcrumbs

      .history
        .container 
          .title.title_h2.title_border-none.mb-15
            p История г. Каракол
          
          .history__wrap.d-flex.justify-between
            .history__col
              .history__desc
                p История сохранила нам точную дату, мотивы и обстоятельства возникновения города Каракол. Это один из первых  городов в Иссык-Кульской области. Он расположен у подножья Терскей Ала-тоо, в устье реки Каракол в 13 км от побережья озера Иссык-Куль, на высоте 1770 м над уровнем моря.
                p Город был заложен в 1869 году, как военно-административный центр на караванной дороге из чуйской долины в кашгарию штабс-капитаном бароном Каульбарсом , которому было дано задание выбрать удобное место для нового города. И вот первого июля 1869 года улицы, площади и гостинный двор были заложены. Эта дата и стала считаться днем рождения города Каракол, названного так по одноименному названию реки на которой он расположен. 
                p Город имеет строгую прямоугольную планировку, утопает в зелени садов, так как раньше каждому застройщику вменялось в обязанность посадить сад и аллею перед домом. Было решено строить город-сад. Несколько иначе чем в других городах средней азии выглядели и сами строения. До 1887 года строились в основном глинобитные дома. Но после сильного землетрясения 1887 году, город застраивался преимущественно деревянными домами с крылечками, украшенными богатой затейливой резьбой.
                p К 1872 году в Караколе было выстроено 132 двора. К 1897 население составляло 8108 жителей. В настоящее время в городе проживает 67200 человек.
                p Город несколько раз менял свое название: до 1889 года он назывался Каракол, затем был переименован по указу царя в город Пржевальск, в честь известного русского путешественника Н.М. Пржевальского, который на пути в свое 5-е путешествие умирает в городе Каракол. По его желанию он похоронен на берегу Иссык-Куля.
                p В 1922 году городу было возвращено прежнее название. А в 1939 году в связи с столетием со дня рождения Н.М. Пржевальского город вновь называется Пржевальск. Название осталось до 1992 года тогда когда городу возвращено его историческое название Каракол. Среди городов дореволюционной Киргизии Каракол был городом сравнительно высокой культуры. От сюда отправлялись участники многочисленных экспедиций в центральную Азию, это были известные ученые и путешественники.
                p В городе была основана первая в Киргизии метеостанция в 1887 году Я.И.Корольковым. открыта первая публичная библиотека Барсовым Н.М. в 1907 году был организован конный завод по инициативе штабс-капитана В.А. Пяновского.
                p С экономической точки зрения город развивался как торговый и административный центр всего Прииссыккулья. В 1894 году 34% всего бюджета города составляли доходы от торговли.
            .history__col
              img(src="images/dist/history1.webp", alt="").w100p.mb-35
              img(src="images/dist/history2.webp", alt="").w100p

              
          
    include includes/footer


  include includes/scripts
