extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | Новости
block main
  .wrapper
    include includes/search
    .content
      
      include includes/svg-sprite
      include includes/header
      include includes/breadcrumbs

      .list
        .container 
          .title.title_h2.title_border-none.mb-15
            p Жапаров поручил "вернуть" аэропорт в Чаткале и построить там новый аэровокзал
          p.text-dark.mb-30 10:08, 16.11.2023
          
          img(src="images/dist/news.webp", alt="")
          p.fz-14.text-gray.mt-10 © Пресс-служба президента КР / Султан Досалиев 
      
          .list__desc.mt-25
            h3.fz-24.fw-600.text-black.mb-15 
            p БИШКЕК, 1 июл — Sputnik. Президент Садыр Жапаров поручил руководству ОАО "Международный аэропорт "Манас" вернуть на баланс компании аэропорт в Чаткальском районе и построить там новый аэровокзал.
              | Как сообщила пресс-служба главы государства, он дал старт строительству нового аэровокзала в аэропорту "Иссык-Куль" (село Тамчы).

            p Он напомнил, что в настоящее время строятся, модернизируются аэропорты в Казармане, Таласе, Кербене, которые должны быть открыты к осени. Кроме того, в Джалал-Абаде возведут новый аэропорт, а старый перепрофилируют под другие социальные цели.
              | Президент сообщил, что, согласно поступившей ему информации, аэропорт в селе Каныш-Кия Чаткальского района еще в 2000-х годах незаконно передали на баланс Джалал-Абадской областной администрации. Он поручил руководству МАМ срочно заняться вопросом возвращения объекта на свой баланс и уже в следующем году построить там новый аэровокзал.
              | "Если на этом месте что-то возвели, поручаю все снести. Вы должны вернуть объект полностью в том виде, в каком он был передан", — распорядился глава государства.
              | Жапаров подчеркнул, что сегодня продолжается активная работа по возвращению в собственность государства принадлежащих ему объектов, переданных в разные годы частным лицам.

    
    include includes/footer


  include includes/scripts
