extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | Новости
block main
  .wrapper
    include includes/search
    .content
      
      include includes/svg-sprite
      include includes/header
      include includes/breadcrumbs

      .list
        .container 
          .title.title_h2.title_border-none.mb-15
            p Жапаров поручил "вернуть" аэропорт в Чаткале и построить там новый аэровокзал
          .d-flex.align-end.mb-20.justify-between.flex-wrap
            p.text-dark.mt-10 10:08, 16.11.2023
            .d-flex.align-center.mt-10 
              p.text-dark.mr-10 Поделиться 
              .social 
                ul.d-flex.align-center
                  mixin social(name,nameRu,kind)
                    li
                      a(href="#")
                        span Сылка социальной сети
                          =nameRu
                        if kind == 'fill'  
                          .icon.icon_fill-accent
                            svg(width="20" height="20")
                              use(xlink:href='#'+name)  
                        else if kind == 'stroke'  
                          .icon.icon_stroke-accent  
                            svg(width="20" height="20")
                              use(xlink:href='#'+name)  
                        else
                          .icon  
                            svg(width="20" height="20")
                              use(xlink:href='#'+name)  
                  +social('facebook','фейсбук','fill')
                  +social('instagram','инстаграм','fill')
                  +social('twitter','твиттер','fill')
                  +social('youtube','юютююб','fill')
                  +social('tiktok','тикток','stroke')
                  +social('whatsapp','ватсап','stroke')
                  +social('telegram','телеграм','stroke')
            
          .list__bg.pos-r
            img(src="images/dist/news.webp", alt="").object-fit-cover
          p.fz-14.text-gray.mt-10 © Пресс-служба президента КР / Султан Досалиев 
      
          .list__desc.mt-25
            h3.fz-24.fw-600.text-black.mb-15 
            p БИШКЕК, 1 июл — Sputnik. Президент Садыр Жапаров поручил руководству ОАО "Международный аэропорт "Манас" вернуть на баланс компании аэропорт в Чаткальском районе и построить там новый аэровокзал.
              | Как сообщила пресс-служба главы государства, он дал старт строительству нового аэровокзала в аэропорту "Иссык-Куль" (село Тамчы).

            p Он напомнил, что в настоящее время строятся, модернизируются аэропорты в Казармане, Таласе, Кербене, которые должны быть открыты к осени. Кроме того, в Джалал-Абаде возведут новый аэропорт, а старый перепрофилируют под другие социальные цели.
              | Президент сообщил, что, согласно поступившей ему информации, аэропорт в селе Каныш-Кия Чаткальского района еще в 2000-х годах незаконно передали на баланс Джалал-Абадской областной администрации. Он поручил руководству МАМ срочно заняться вопросом возвращения объекта на свой баланс и уже в следующем году построить там новый аэровокзал.
              | "Если на этом месте что-то возвели, поручаю все снести. Вы должны вернуть объект полностью в том виде, в каком он был передан", — распорядился глава государства.
              | Жапаров подчеркнул, что сегодня продолжается активная работа по возвращению в собственность государства принадлежащих ему объектов, переданных в разные годы частным лицам.

    
    include includes/footer


  include includes/scripts
