extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | Новости
block main
  .wrapper
    include includes/search
    .content
      
      include includes/svg-sprite
      include includes/header
      include includes/breadcrumbs

      .list
        .container 
          .title.title_h2.title_border-none.mb-25
            p Новости

          each item in [1,2,3,4,5]
            .list__item.d-flex.text-decoration-none.mb-30 
              .list__item-img.mr-25 
                img(src="images/dist/news.webp", alt="")
              .list__item-desc.pt-10 
                p.fz-20.fw-600.text-accent.mb-15 Затопило отрезок дороги Балыкчи — Каракол. Видео
                p.text-dark.lh-22.mb-15 На кадрах МЧС видно, что дорогу не перекрывали, проезд открыт. По данным министерства, размыты 20 гектаров полей с пшеницей и клевером.
                p.text-accent.lh-22 9 августа 2022
                .d-flex.mt-10
                  a(href="#").btn.btn_accent.mr-15 Далее 
                  a(href="#").btn.btn_secondary Далее 
    
    include includes/footer


  include includes/scripts
